#containerReg {
    margin-top: 5%;
    width: 25%;
    background-color: whitesmoke;
    align-items: center;
}

#formulario {
    align-items: center;
}


.form-control {
    width: 100%;
}

#botonReg {
    width: 100%;
}

#logo {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
}

#titulo{
    margin-left: 25%;
}