#container {
    margin-top: 5%;
    width: 30%;
}

#containerS {
    margin-top: 20%;
    margin-left: 40%;
    width: 30%;
}

#boton {
    background-color: rgb(110, 110, 110);
    margin-left: 50%;
}

#logo {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
}

#titulo{
    margin-left: 25%;
}
